.body{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    min-height: 100vh;
}
.h1, .article, .nav, .ads, .footer{
    background-color: blueviolet;
}
.h1{
    grid-column: 1/4;
    padding: 20px;
    text-align: left;
}
.article{
    grid-column: 1/2;
    grid-row:2/3 ;
    padding: 20px;
}
.nav{
    grid-column: 2/3;
    grid-row: 2/4;
    padding: 20px;
}
.ads{
    grid-column: 3/4;
    grid-row: 2/4;
    padding: 20px;
}
.footer{
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 20px;
    text-align: center;
}
 